#root {
  --main-scale: 10em;

  margin: 0 auto;
  text-align: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.flex-container {
  width: 100%;
  height: 85vh;
  display: flex;
  flex-direction: column;
}

.flex-child {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-child-type {
  font-size: var(--main-scale);
}

.flex-child-direction {
  font-size: var(--main-scale);
}