:root {
	--main-scale: 8;
}

.wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.flex-container {
	width: 100%;
	height: 85vh;
	display: flex;
	flex-direction: column;
}

.flex-child {
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}

.flex-child-type {
	transform: scale(calc(var(--main-scale) * 1.5));
}

.flex-child-direction {
	transform: scale(var(--main-scale));
}
